<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Journal</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <div class="container nav-container">
    <div class="logo">Learning Journal</div>
    <nav>
      <ul>
        <li><a th:href="@{/entries}" class="active">Learning Journal</a></li>
        <li><a href="#">Lightning Topics</a></li>
        <li><a href="#">Profil</a></li>
        <li><button class = "logout-btn" onclick="window.location.href='/login'">Logout</button></li>
      </ul>
    </nav>
  </div>
</header>

</body>
</html>