<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Learning Journal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="container nav-container">
        <div class="logo">Learning Journal</div>
        <nav>
            <ul>
                <li><a th:href="@{/entries}" class="active">Learning Journal</a></li>
                <li><a href="#">Lightning Topics</a></li>
                <li><a th:href="@{/profile}">Profil</a></li>
                <li><button class = "logout-btn" onclick="window.location.href='/login'">Logout</button></li>
            </ul>
        </nav>
    </div>
</header>
<main class="container">
    <h1 class="page-title">Learning Journal</h1>

    <section class="entry-form">
        <h2 class="form-title">Neuen Eintrag erstellen</h2>
        <form method="post" action="/saveEntry">
            <div class="form-group">
                <label for="title">Überschrift</label>
                <input type="text" id="title" name="title" class="form-control"
                       placeholder="Gib deinem Eintrag einen Titel">
            </div>
            <div class="form-group">
                <label for="content">Inhalt</label>
                <textarea name="content" id="content" class="form-control"
                          placeholder="Was hast du heute gelernt?"></textarea>
            </div>
            <button type="submit" class="btn">Speichern</button>
        </form>
    </section>

    <section class="journal-entries">

        <article class="journal-entry" th:each="entry : ${entries}">
            <header class="entry-header">
                <h2 class="entry-title" th:text="${entry.title}">Journal Eintrag</h2>
                <div class="entry-timestamp" th:text="${#temporals.format(entry.creationTime, 'dd.MM.yyyy HH:mm')}">14. März 2025, 09:30 Uhr</div>
            </header>
            <div class="entry-content">
                <p th:text="${entry.content}">Hier der Eintrag.</p>

            </div>
            <form class="entry-form-btns" method="get" action="/updateEntry">
                <input type="hidden" name="id" th:value="${entry.id}">
                <button class = "btn">Bearbeiten</button>
            </form>
            <form class="entry-form-btns" method="post" action="/deleteEntry" onsubmit="return confirm('Willst du den Eintrag wirklich löschen?');">
                <input type="hidden" name="id" th:value="${entry.id}">
                <button class = "btn">Löschen</button>
            </form>

        </article>

    </section>
</main>
<footer>
    <div class="container footer-content">
        <p>&copy; 2025 Learning Journal</p>
        <p>Mischok Academy</p>
    </div>
</footer>
</body>
</html>