<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Learning Journal</title>
    <link rel = "stylesheet" href = "../css/styles.css">
</head>
<body>
    <header>
        <div class="container nav-container">
            <div class="logo">Learning Journal</div>
            <nav>
                <ul>
                    <li><a th:href="@{/entries}">Learning Journal</a></li>
                    <li><a href="#">Lightning Topics</a></li>
                    <li><a th:href="@{/profile}">Profil</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="reg-container">
        <h1 class="page-title">Registrierung</h1>
        <section class="reg-form">
        <form method="post" action="/addPerson">
            <h2 class="form-title">Neuen Benutzer registrieren:</h2>
            <div class = "reg-group">
                <label for="vorname">Vorname:</label>
                <input type="text" id="vorname" name="vorname" class="reg-control"></div>
            <div class = "reg-group">
                <label for="nachname">Nachname:</label>
                <input type="text" name="nachname" id="nachname" class="reg-control"></div>
            <div class = "reg-group">
                <label for="email">E-Mail:</label>
                <input type="text" name="email" id="email" class="form-control"></div>
            <div class = "reg-group">
                <label for="username">Benutzername:</label>
                <input type="text" name="username" id="username" class="reg-control"></div>
            <div class = "reg-group">
                <label for="password">Passwort:</label>
                <input type="password" name="password" id="password" class="reg-control"></div>
            <button type="submit" class="btn">Speichern</button>
        </form>
        </section>
        </div>
    </main>
    <footer>
        <div class="container footer-content">
            <p>&copy; 2025 Learning Journal</p>
            <p>Mischok Academy</p>
        </div>
    </footer>
</body>
</html>